
.cihome{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

@media(max-width: 550px){
    .cihome{
        font-size: 2rem;
    }
}
@media(max-width: 400px){
    .cihome{
        font-size: 1.5rem;
    }
}